@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;600;700&display=swap&subset=vietnamese');

* {
    font-family: 'Be Vietnam Pro', sans-serif;
}
.active hr{
    @apply block
}
::-webkit-scrollbar{
    @apply hidden
}
@media (max-width: 740px) {
    .active p {
      @apply bg-[#5f6FFF] text-white;
    }
  }
::-webkit-scrollbar{
    @apply hidden;
}
  